{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="html,css,javascript">
    <meta name="robot" content="index.follow">
    <meta name="description" content="Where agriculture is brought to life">
    <title>AgroFox</title>
    <link rel="stylesheet" href="{% static 'index1.css'%}">
    <link rel="shortcut icon" href="images/farm.jpg" type="image/x-icon">
</head>

<body>
    <nav>
        <div class="logo">
            <h2>AgroFox</h2>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'about' %}">about</a></li>
            <li><a href="{% url 'services' %}">services</a></li>
            <li><a href="{% url 'farmers'%}">farmers</a></li>
            <li><a href="#">contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <section id="main">
        <div class="backg">
            <h1 class="text">Where agriculture is brought to life</h1>
            <p class="assist">Unlimited possibilities...</p>
            <button class="btn2"><a href="{% url 'farmers' %}">Apply</a></button> -->
        </div>

        <h3 class="page-text">Our satisfied services</h3>
        <h3 class="main-paragraph">
            Most businesses serve for profit rather than profiting from serving.
        </h3>
        <h4 class="main-paragraph">We at AgroFox provides you with rich and affordable land and also agricultural solution to solve problems pertaining agriculture.</h4>
        <p class="main-paragraph"></p>
        <div id="main-1">
            <div class="block-1">
                <img class="none" src="../static/images/carrot.jpg" alt="content image">
                <h1 class="value">CROP CULTIVATION</h1>
                <p class="idea">we as sky security provides security guard services at a variety of locations and are available 24 hours per day, 7 days per week and also yearly. our security guards provides our client services that will suit ur requirement</p>
            </div>
            <div class="block-1">
                <img class="none" src="../static/images/rake.jpg" alt="content image">
                <h1 class="value">LAND PREPARATION</h1>
                <p class="idea">We have a technical team to call upon that can design, supply and install the ideal security system to meet your requirements. Similarly, we offer the sales of body scanner, metal detectors, smoke and fire detection systems, intruder alarms,
                    video and audio door entry</p>
            </div>
            <div class="block-1">
                <img class="none" src="../static/images/field.jpg" alt="content image">
                <h1 class="value">LAND ALOCATION</h1>
                <p class="idea">WE provide car tracking services and also the installation of tracking device. we install the best tracking device which are user friendly and easy to understand. apart from our cheap price, we work with our client all the way........
                </p>
            </div>
            <div class="block-1">
                <img class="none" src="../static/images/diseased.jpg" alt="content image">
                <h1 class="value">DISEASE CONTROL</h1>
                <p class="idea">we take it as our responsibility to make sure that posible solution is provided to our client. we got u covered and assure ensure that we provide the solution needed by our client to thier daily operations run without a glitch. </p>
            </div>
            <div class="block-1">
                <img class="none" src="../static/images/drone.jpg" alt="content image">
                <h1 class="value">MECHANIZED FARMING</h1>
                <p class="idea">We train security operatives in organizations that need to constantly update their teams with the latest information in security. We are partnered with Global security solutions, Canada in training consultancy.</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <main id="main-counter">
            <div class="counter-container">
                <div class="counter" data-target="12000"></div>
                <span>SUCCESSFUL SOLUTION</span>
            </div>

            <div class="counter-container">
                <div class="counter" data-target="5000"></div>
                <span>PARTNER</span>
            </div>

            <div class="counter-container">
                <div class="counter" data-target="7500"></div>
                <span>AVAILABLE LANDS</span>
            </div>

        </main>
        <footer class="footer">
            <div class="footer-left">
                <h3> How can we serve you in the future</h3>
                <textarea name="massage" id="" cols="30" rows="10" placeholder="message"></textarea>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam </p>
                <div class="social">
                    <a href="#"><img src="../static/images/facebook.jpg" alt="socail media image"></a>
                    <a href="#"><img src="../static/images/instagram.jpg" alt="socail media image"></a>
                    <a href="#"><img src="../static/images/telegram.jpg" alt="socail media image"></a>
                    <a href="#"><img src="../static/images/whatsapp.jpg" alt="socail media image"></a>
                    <a href="#"><img src="../static/images/linkedin.jpg" alt="socail media image"></a>
                    <a href="#"><img src="../static/images/26.jpg.jpg" alt="socail media image"></a>
                </div>
            </div>
            <ul class="footer-right">
                <li>
                    <h3>Farms</h3>
                    <ul class="box">
                        <li><a href="#">home</a></li>
                        <li><a href="#">about</a></li>
                        <li><a href="#">services</a></li>
                        <li><a href="#">development</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </li>
                <li class="features">
                    <h3>userful-link</h3>
                    <ul class="box">
                        <li><a href="#">hiehf'iehfi</a></li>
                        <li><a href="#">jhufhd</a></li>
                        <li><a href="#">ogrugfu</a></li>
                        <li><a href="#">hbfufheoifjol</a></li>
                    </ul>
                </li>
                <li>
                    <h3>Address</h3>
                    <ul class="box">
                        <li><a href="#">No.334 Agrotext roaad</a></li>
                        <li><a href="#">Phase 5 along crush cafe </a></li>
                        <li><a href="#">Lagos street</a></li>
                        <li><a href="#">Abuja</a></li>
                    </ul>
                </li>
            </ul>
            <div class="footer-bottom">
                <p> we make you dream as a farmer come to pass </p>
                <p> All right reserved by &copy; AgriFox limited </p>
            </div>
        </footer>






        <script src="{% static 'script.js' %}"></script>
        <script src="{% static 'count.js' %}"></script>
        <script src="{% static 'static index1.js' %}"></script>
</body>

</html>